body {
  padding: 0.5rem;
}

code {
  text-wrap: nowrap;
  outline: 1px solid lightblue;
  border-width: 0 !important;
  background-color: lightcyan !important;
  color: orangered;
}

h1 {
  padding-inline: 0.5rem;
}

h2 {
  padding-inline: 0.25rem;
}

p {
  line-height: 1.2rem;
}

@page {
  margin: 2rem 4rem;
}
